@keyframes appear {
    from {
      opacity: 0; /* Start with opacity 0 (invisible) */
    }
    to {
      opacity: 1; /* End with opacity 1 (fully visible) */
    }
}

nav {
    /* position */
    padding: 0.5rem;
    position: fixed;
    z-index: 999;
    justify-content: left;
    width: 100%;
    height: auto; 

    /* flex */
    display: flex;
    flex-direction: row;
}

a {
    margin: 0rem 0.5rem 0rem 0.5rem;
    text-decoration: none;

    background-image: var(--hl2-col);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

a:hover {
    background-image: var(--hl1-col);
}



.menu-box {
    /* width: 200px;
    height: 200px; */
    display: flex;
    justify-content: left;
    transition: all 0.3s ease;
}

.menu-box > img {
    width: 2rem;
    height: 2rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.textHidden > p {
    margin: 0.2rem;
}
  
.menu-box:hover {
    width: auto;
    height: auto;
    padding: 0.5rem;
    animation: appear 1s ease forwards;
    background-color: var(--dark-bg);
    /* background-color: rgba(0, 0, 0, 0.90); */
    border: solid;
    border-radius: 1rem;
    /* border-width: 5px; */
    border-color: var(--white-col);
}

.textHidden {
    display: none;
}

.menu-box:hover .textHidden {
    display: flex;
}
