@font-face{
    font-family: FaktosFont;
    src: url("/fonts/faktos/Faktos.otf");
}
@font-face {
    font-family: FaktosShadowFont;
    src: url("/fonts/faktos/FaktosShadow.otf");
}

@font-face {
    font-family: JohnstonFont;
    src: url("/fonts/Johnston/Johnston-ITC-Std-Medium.otf");
}

:root {
    --dark-bg: rgba(0, 0, 0, 0.90);
    --light-bg: rgba(240, 240, 240, 0.90);
    --black-col: rgba(20, 20, 20, 1);
    --white-col: rgba(240, 240, 240, 1);

    --hl1-col: linear-gradient(45deg, #fc3354 0%, #fc259b 100%);
    --hl2-col: linear-gradient(45deg, #de33fc 0%, #7725fc 100%);
  
    font-family: JohnstonFont, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: var(--white-col);

    overflow-x: hidden;
}


/* flexbox tab */
.flex-row{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
}
.flex-row > *{
    flex: 1 0 49%;
}

.flex-col{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column;
}

canvas { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    width: 100%;
    /* required to sroll */
    /* height: 1000vw;  */
    color: var(--white-col);
    z-index: 998;
    position: absolute;
    margin: 0px auto;
}


div {
    height: min-content;

    display: flex;
    flex-flow: column;
}

.space-div {
    margin-bottom: 80rem;
}

blockquote {
    padding: 1rem 5rem 1rem 5rem;
    /* background: var(--light-bg);
    color: var(--black-col); */
    border-radius: 3rem;
}

section {
    padding: 1rem 4rem 1rem 4rem;
    height: min-content;
    /* background: var(--dark-bg);
    border-radius: 3rem; */
}

h1, h2 {
    font-weight: 400;
    font-family: FaktosFont;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    /* background-color: #f3ec78; */
    background-image: var(--hl1-col);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

section > h2 {
    margin-top: -1.75rem;
}

.project-box {
    margin: 0rem 2rem;
    padding: 0.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-card {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 40%;
    /* height: 75vh; */

    background-color: var(--dark-bg);
    border: solid var(--white-col);
    border-radius: 1rem;

    display: flex;
    flex-flow: column;
    justify-content: left;
    text-align: left;
}

.project-card > img {
    object-fit: cover;
    max-width: 110%;
    height: 30vh;
    margin: -0.5rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.project-card > h2 {
    margin: 0.5rem 0rem;
}

.project-card > p {
    margin: 0.2rem 0rem;
}